[submodule "modules/godothub"]
	path = modules/godothub
	url = git@github.com:Windastella/godothub_client.git
[submodule "modules/godotenv"]
	path = modules/godotenv
	url = git@github.com:Windastella/GodotEnv.git
[submodule "modules/godothttp"]
	path = modules/godothttp
	url = git@github.com:Windastella/GodotHttp.git
